extends ../../layouts/default.pug

block main 
    h1 CHAT
    
    div(class="container")
        div(class="chat" my-id=user.id)
            div(class="inner-body")
                each chat in chats
                    div(class=(chat.user_id == user.id ? "inner-outgoing" : "inner-incoming"))
                        if(chat.user_id != user.id)
                            div(class="inner-name") #{chat.infoUser.fullName}
                        div(class="inner-content") #{chat.content}
            div(class="inner-footer")
                form(
                    class="inner-form"
                    action=""
                )
                    input(
                        type="text"
                        placeholder="Nhập nội dung...."
                        name="content"
                    )
                    span(class="button-icon" style="padding:10px; font-size:32px; cursor:pointer;")
                        i(class="fa-regular fa-face-smile")
                    button
                        i(class="fa-solid fa-paper-plane")

    div(class="tooltip" role="tooltip")        
        <emoji-picker></emoji-picker>