extends ../../layouts/default.pug

block main 
    h1 CHAT
    
    div(class="container")
        div(class="chat" my-id=user.id)
            div(class="inner-body")
                each chat in chats
                    div(class=(chat.user_id == user.id ? "inner-outgoing" : "inner-incoming"))
                        if(chat.user_id != user.id)
                            div(class="inner-name") #{chat.infoUser.fullName}
                        div(class="inner-content") #{chat.content}
                    //- div(class="inner-outgoing")
                //-     div(class="inner-content")
                //-         | Thế à ? Ok em 
                //- div(class="inner-incoming")
                //-     div(class="inner-name") Em yêu
                //-     div(class="inner-content")
                //-         | Nhanh nha nhanh nha 
                //- div(class="inner-outgoing")
                //-     div(class="inner-content")
                //-         | CK đến nơi rồi mà thấy ai ở nhà đâu e? khóa cửa mà 
                //- div(class="inner-incoming")
                //-     div(class="inner-name") Em yêu
                //-     div(class="inner-content")
                //-         | Thì em bảo nhà em không có ai ở nhà mà 
            div(class="inner-footer")
                form(
                    class="inner-form"
                    action=""
                )
                    input(
                        type="text"
                        placeholder="Nhập nội dung...."
                        name="content"
                    )
                    button
                        i(class="fa-solid fa-paper-plane")