extends ../../layouts/default.pug
include ../../mixins/alert.mixins.pug

block main
  +alert-error(5000)

  div(class="login")
    div(class="container")
      div(class="login__wrap" style="justify-content:center;")
        div(class="login__inner-wrap")
          h1(class="login__form-text") Lấy lại mật khẩu
          form(
            action="/user/password/forgot"
            method="POST"
          )
            div(class="login__form-group")
              label(for="email") Email
              input(
                type="email"
                class="login__form-control"
                id="email"
                name="email"
                required
              )
            div(class="login__form-group")
              button(
                type="submit"
                class="login__btn"
              ) Gửi mail xác nhận