extends ../../layouts/default.pug
include ../../mixins/alert.mixins.pug

block main
  +alert-error(5000)

  div(class="login")
    div(class="container")
      div(class="login__wrap" style="justify-content:center;")
        div(class="login__inner-wrap")
          h1(class="login__form-text") Đăng ký
          form(
            action="/user/register"
            method="POST"
          )
            div(class="login__form-group")
              label(for="fullName") Họ và tên
              input(
                type="text"
                class="login__form-control"
                id="fullName"
                name="fullName"
                required
              )
            div(class="login__form-group")
              label(for="email") Email
              input(
                type="email"
                class="login__form-control"
                id="email"
                name="email"
                required
              )
            div(class="login__form-group")
              label(for="password") Mật khẩu
              input(
                type="password"
                class="login__form-control"
                id="password"
                name="password"
                required
              )
            div(class="login__form-group")
              button(
                type="submit"
                class="login__btn"
              ) Đăng ký