extends ../../layouts/default.pug
include ../../mixins/alert.mixins.pug

block main
  +alert-error(5000)

  div(class="login")
    div(class="container")
      div(class="login__wrap" style="justify-content:center;")
        div(class="login__inner-wrap")
          h1(class="login__form-text") Đổi mật khẩu
          form(
            action="/user/password/reset"
            method="POST"
          )
            div(class="login__form-group")
              label(for="password") Mật khẩu mới
              input(
                type="password"
                class="login__form-control"
                id="password"
                name="password"
                required
              )
            div(class="login__form-group")
              label(for="confirmPassword") Xác nhận mật khẩu
              input(
                type="password"
                class="login__form-control"
                id="confirmPassword"
                name="confirmPassword"
                required
              )
            div(class="login__form-group")
              button(
                type="submit"
                class="login__btn"
              ) Đổi mật khẩu